body{
    background-color: gold;
}
    h1{
        font-size: 4rem;
        color: maroon;
        text-align: center;
            }
h1:hover{
 color: midnightblue;
 cursor: pointer;
}
p{
    font-size: 2rem;
    color: green;
    
}